.wrapper {
    display: flex;
    flex-direction: column;
}

.incrementWrapper {

}

.todoItemsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
