.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: center;
}

.wrapper a {
    color: #61dafb;
    word-break: break-word;
}

.article {
    padding: 20px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 10px;
    width: 300px;
}
